body {
    background-image: url("background.png");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: x-large;
}

#title {
    align-items: center;
    text-align: center;
    font-size: larger;
}

#grid {
    border-radius: 20px;
    border: 2px solid #000000;
    display: grid;
    grid-template-columns: repeat(200, 5px);
    grid-template-rows: repeat(110,5px);
}

#grid div {
    width: 5px;
    height: 5px;
    border: 0px solid #5c2323;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

#stats {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: x-large;
  }
  

.lred {
    background-color: rgb(226, 116, 116);
}
.lgreen {
    background-color: rgb(54, 204, 54);
}
.lbrown {
    background-color: #92623a;
}
.black {
    background-color: #000000;
}
.red {
    background-color: rgb(226, 3, 3);
}
.darkred {
    background-color: rgb(117, 15, 15);
}
.pink {
    background-color: rgb(185, 48, 167);
}
.darkpink {
    background-color: rgb(128, 17, 128);
}
.green {
    background-color: rgb(15, 124, 15);
}
.brown {
    background-color: #49311d;
}
.target {
    background-color: #f58c2a;
    position: relative; 
    z-index: 9999;
}
.target2 {
    background-color: #222a97;
}
.sblack {
    background-color: #000000;
}
.sred {
    background-color: rgb(226, 3, 3);
}
.sgreen {
    background-color: rgb(15, 124, 15);
}
.slred {
    background-color: rgb(226, 116, 116);
}